select{
  color:blue;
}

.div_radio,
.div_checkbox,
#div_documento{
  text-align:left;
}

.form .div_radio label,
.form .div_checkbox label{
  color:white;
  /*background: rgb(0,0,0,.5);*/
  padding: 5px 15px 5px 20px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  border-radius: 3px;
  cursor:pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form .div_radio label:hover,
.form .div_checkbox label:hover{
  background: rgba(0, 116, 217, 0.5);
}



.form input[type="radio"]:checked + label,
.form input[type="checkbox"]:checked + label{
padding: 5px 5px;
background: #0074D9;
border-radius: 2px;
color:white;
}

/*FONDOS DE BODY*/



#index{
  background: url("../img/fondo/fondo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;
}

#altas{
  background: url("../img/fondo/alta.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;
}


#perfil_usuario{
  background: url("../img/fondo/usuario_01.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;
  
}


#perfil_voluntario{
  background: url("../img/fondo/voluntario_01.jpg") no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;
}


#perfil_admin{
  background: url("../img/fondo/admin_01.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;
}


#editar{
  background: url("../img/fondo/editar.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;
 
}

#cambiar_pwd{
  background: url("../img/fondo/cambio_pwd.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;
 
}



#politica{
    background: url("../img/fondo/fondo_06.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    background-size: cover;
 
}

#eliminar{
    background: url("../img/fondo/eliminar.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    background-size: cover;
  
}


#baja{
  background: url("../img/fondo/baja.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;

}



#status{
  background: url("../img/fondo/fondo_10.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  background-size: cover;

}


#msj_eliminar{
    background: url("../img/fondo/fondo_11.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    background-size: cover;
}

#actividades, #editar_activities, #altas_activities{
  background-color: teal;
}

.body_error{
  background:firebrick;
}

body{
 
  
  color: white;
  font-size: 25px;
  font-family: "Roboto";
}


#error{
  text-align: center;
  padding: 2px;;
  
}




/*


body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 25px;
}
*/





section, div{
  padding: 15px;
}

.contenedor{
  border: solid 1px black;
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(1,2,1,0.4);
}

.div_contenedor_actividad{
  display: flex;
  flex-wrap: wrap;
}

.div_actividades_propias{
  border: 1px solid black;
 
  background-color: rgb(170, 123, 114);
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 220px;
  font-size: 15pt;
}

.div_actividades_otros{
  border: 1px solid black;
  background-color: tomato;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 220px;
  font-size: 15pt;
}

.div_actividades_usuario{
  border: 1px solid black;
  background-color: rgb(60, 170, 65);
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 220px;
  font-size: 15pt;
}



.contenedor .division_vertical{
  width: 100%;
  text-align: center;
  background-color: rgba(1,2,1,0.1);
  box-shadow: 2px 2px 10px #666;
}



#div_superior{
  width: 100%;
  text-align: left;
  background-color: rgba(1,2,1,0.5);
  box-shadow: 2px 2px 10px #666;
}


#msj_eliminar{
  text-align: center;
}

.form_texto, .form_pwd, .form_date{
    width: 80%;
    text-align: center;
    font-size: 15px;
}


/*CONTENEDORES INTERNOS*/
  .contenedor .div_menu{
      align-items: center;
      align-content: center;
      text-align: center;
      width: 85%;
      min-width: 475px;
  }

/*LISTA MENU PRINCIPAL*/
  .contenedor .div_menu .nav {
      text-align: center;
      width:1000px;
      margin:0 auto;
  }
/*ELEMENTO DE LISTA MENU PRINCIPAL*/
  .contenedor .div_menu .nav > li {
      float:left;
      background-color: #4E4E4E;
  }
/*LINKS DE LOS ELEMENTOS DE LISTA MENU PRINCIPAL*/
  .contenedor .div_menu .nav li a {
      margin: 5px;
    /*  border-radius: 12px;*/
      background-color:#2A8CA6;
      color:#fff;
      text-decoration:none;
      padding:10px 12px;
      display:block;
  }

  .contenedor .div_menu .nav li a:hover {
      background-color:#009999;
  }

  ul, ol {
      list-style:none;
  }



#detalle_user{
  text-align:left;
}


.contenedor .div_button{
    text-align: center;
}



.div_form_error {
  color: red;
  margin-bottom:0;
  height: 15px;
}

.div_form_repetido{
  color: blue;
  margin-bottom:0;
  height: 15px;

}


.div_pie{
  text-align: left;
}

.contenedor .div_button{
    text-align: center;
}


.eliminar_op{
  font-size: 14px;
  text-align: left;
}

.div_cancelar{
/*  border: solid 1px white;*/
  text-align: center;
}
#cancelar_botones{
  color: white;
}

#resultado{
  text-align: center;
}
/*******************************/
/*******************************/

/*******************************/
/* BUTON ACCESO A LOGIN */
/*******************************/

#button{
    border: none;
    background: rgba(0,0,0,0);
    width: 50%;
    font-size: 25px;
    color:white;


}
#button:hover{
    border: none;
    background-color: #B3C5C5;
}


/*
#seleccion_users ,#seleccion_actividades {
  display: none;
}*/

.invisible{
  display: none;
}

/*******************************/
/*******************************/

.division_vertical#div_login{
    box-shadow: 2px 2px 10px #666;
    background: rgba(0,0,0,0);
    color:white;
}

a{
  color:thistle;
}

/**********************************/
/************************************/
/*PERFIL*/
.foto_perfil{
  width: 150px;
  height: 150px;
/*  border: 2px solid white;*/
  margin: 15px;
/*  box-shadow: 2px 2px 5px #999;*/

}



footer{
  text-align: right;
  margin-right: 50px;
}


table{
  border: 1px solid white;
  width: 100%;
  padding: 1px;
  text-align: center;
}

.div_checkbox_tabla{
  border: 1px solid white; 
  text-align: left;
 
}

/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}


/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
